<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H1, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    {% load bootstrap5 %}
    
    {# Display a form #}
    
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
    <h1>Weather411</h1>
    <form action="{% url 'city_name' %}" method="post">
        {% csrf_token %}
        <label for="city_name">City: </label>
        <input id="city_name" type="text" name="city_name" value="{{ current_city }}">
        <input type="submit" value="OK">
    </form>
    {% if city %}
    <p>City: {{ city.name }}</p>
    <p>Temperature °C/ °F: {{ city.temp_celcius }}°C / {{ city.temp_fahrenheit }}°F </p>
    <p>Description: {{ city.description }}</p>
    {% for key, value in city.main.items %}
    <p>{{ key }} : {{ value }}</p>
    {% endfor %}
    <p></p>
    {% endif %}
</body>
</html>