<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H1, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <nav class="navbar navbar-dark bg-dark px-5 py-2">
        <!-- Navbar content -->
        <h1 class="text-warning">WeatherMan</h1>
    </nav>
    <form action="{% url 'city_name' %}" method="post" class="form m-5">
        {% csrf_token %}
        {% if form %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-dark text-warning">Get weather</button>
        {% endbuttons %}
        {% endif %}

    </form>
    <div class="bg-secondary p-5 p-2">
        {% if city %}
        <p>City: {{ city.name }}</p>
        <p>Temperature °C/ °F: {{ city.temp_celcius }}°C / {{ city.temp_fahrenheit }}°F</p>
        <p>Description: {{ city.description }}</p>
        {% for key, value in city.main.items %}
        <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>