<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H1, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <nav class="navbar navbar-dark bg-primary">
        <!-- Navbar content -->
        <h1 class="m-5">WeatherMan</h1>
    </nav>
    <form action="{% url 'city_name' %}" method="post" class="form m-5">
        {% csrf_token %}
        {% if form %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Get weather</button>
        {% endbuttons %}
        {% endif %}

    </form>
    {% if city %}
    <p class="m-5">City: {{ city.name }}</p>
    <p class="m-5">Temperature °C/ °F: {{ city.temp_celcius }}°C / {{ city.temp_fahrenheit }}°F </p>
    <p class="m-5">Description: {{ city.description }}</p>
    {% for key, value in city.main.items %}
    <p class="m-5">{{ key }} : {{ value }}</p>
    {% endfor %}
    {% endif %}
</body>
</html>